<div class="container mt-5">
    <div class="card ms-auto me-auto p-3 shadow-lg custom-card">
        <fa-icon [icon]="faUser" class="ms-auto me-auto user-icon"></fa-icon>
        
        <form #f="ngForm"  (ngSubmit)="f.form.valid && login()">
            <div class="alert alert-danger" *ngIf="errorMessage">
                {{errorMessage}}
            </div>


<div class="form-group">
                <label for="username">Nombre Usuario</label>
                 <input type="text" id="username" 
                 name="username"
                 [(ngModel)]="user.username"
                 #username="ngModel"
                 class="form-control" required>
                <div class="alert-danger" *ngIf="!username.valid && f.submitted">
                    El nombre  de usuario es requerido
                </div>
            </div>

            <div class="form-group">
                <label for="password">Password:</label>
                 <input type="password" id="password" 
                 name="password"
                 [(ngModel)]="user.password"
                 #password="ngModel"
                 class="form-control" required>
               
                 <div class="alert-danger" *ngIf="!password.valid && f.submitted">
                    El password es requerido
                </div>
            </div>
            <br/>
            <button type="submit" class="btn btn-success w-100 mt3" style="background-color: #50A057">
                Sign Up
            </button>
            <a  [routerLink]="['/register']"   class="btn btn-link" style="color: dargray;">
                Crear una cuenta.
            </a>
        </form>
    </div>
</div>
